<div>
  <nav class="bg-gray-800 p-4 flex justify-between items-center">
    <h2
      routerLink="/"
      class="text-white font-bold text-xl cursor-pointer hover:text-gray-300"
    >
      CodeBin
    </h2>
    <div class="flex space-x-4">
      <a
        *ngIf="service.loginOrNotLoggedIn; else signupLink"
        routerLink="/login"
        routerLinkActive="active"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md transition duration-300"
        >Login</a
      >
      <ng-template #signupLink>
        <a
          routerLink="/signup"
          routerLinkActive="active"
          class="text-gray-300 hover:text-white px-3 py-2 rounded-md transition duration-300"
          >Sign Up</a
        >
      </ng-template>

      <a
        routerLink="/about"
        routerLinkActive="active"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md transition duration-300"
        >About</a
      >
    </div>
  </nav>
</div>
