<div>
  <nav class="bg-gray-800 p-4 flex justify-between items-center">
    <h2
      routerLink="/"
      class="text-white font-bold text-xl cursor-pointer hover:text-gray-300"
    >
      CodeBin
    </h2>
    <div class="flex space-x-4">
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md transition duration-300"
        >Login</a
      >
      <a
        routerLink="/signup"
        routerLinkActive="active"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md transition duration-300"
        >Sign Up</a
      >
    </div>
  </nav>
</div>
